@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root{

    font-family: 'Ubuntu', sans-serif;
}


.child-box{
    /*border-color: black;
    border-style: solid;
    border-width: 2px;*/
    border: #000 solid 1px;/*shorthand*/
    width: 100px;
    height: 100px;
    text-align: center;
    border-radius: 15px;   
}
.parent-box div:nth-of-type(1){
    background-color: rgb(29, 168, 233);
}

.parent-box div:nth-of-type(2){
    background-color: rgb(172, 214, 214);
}

.parent-box div:nth-of-type(3){
    background-color: rgb(81, 233, 233);
}


.parent-box {
    display: flex;
    background-color:burlywood;
    padding: 40px 20px 20px 20px /*shorthand para padding-top,padding-rigth,padding-bottom, padding-left*/
}

.parent-box > p {

    position:absolute;
    margin-top: -30px;

}
#justify-content .parent-box{
    justify-content: center;

}
#jc-space-around .parent-box{
    justify-content: space-around;
}
#jc-space-between .parent-box{
    justify-content: space-between;
}
#jc-space-evenly .parent-box{
    justify-content:space-evenly;
}
#jc-space-flex-start .parent-box{
    justify-content: flex-start;
}
#jc-space-flex-end .parent-box{
    justify-content: flex-end;
}
#jc-space-initial .parent-box{
    justify-content: initial;
}
#jc-space-inherit .parent-box{
    justify-content: inherit;
    
}#flex-direction .parent-box{
    flex-direction: row;
}
#flex-direction-row-reverse .parent-box{
    flex-direction: row-reverse;
}
#flex-direction-column .parent-box{
    flex-direction: column;
}
#flex-direction-column-reverse .parent-box{
    flex-direction: column-reverse;
}